<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ali.sang">

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/custom_style">
         <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SFirstActivity">

        </activity>


        <activity android:name=".SSecondActivity">

        </activity>

        <activity android:name=".SThirdActivity">

        </activity>

        <activity android:name=".ContactActivity">

        </activity>

        <activity android:name=".SangActivity">


        </activity>

        <activity android:name=".MarmaritExplaneActivity">

        </activity>
<activity android:name=".TravantenExplaneActivity">

</activity>

        <activity android:name=".GranitExplaneActivity">

        </activity>
        <activity android:name=".MGranitActivity">

        </activity>

        <activity android:name=".MTravantenActivity">

        </activity>

        <activity android:name=".MMarmaritActivity">

        </activity>

        <activity android:name=".MoghadameActivity">

        </activity>
    </application>

</manifest>